/* Write your CSS code here */
.cart-bg-container {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-img {
  width: 150px;
}
